@model AppUser
@{
    ViewData["Title"] = "Create";
}

<h2>Modificar Usuario</h2>

<div class="gb-primary col-md-12">
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="@Model.Id"></label>
            <input asp-for="@Model.Id" disabled="disabled" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.Email"></label>
            <input asp-for="@Model.Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="PasswordHash"></label>
            <input name="password" value="@Model.PasswordHash" type="password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-floppy-saved"></i>
            Modificar
        </button>
        <a asp-action="Index" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i>
            Cancelar
        </a>
    </form>
    <br />
</div>